[submodule "nginx-certbot"]
	path = nginx-certbot
	url = https://github.com/Sife-ops/nginx-certbot
[submodule "constellations"]
	path = constellations
	url = https://github.com/Sife-ops/constellations
